.reponse{
	margin-bottom: 30px;
	background: red;
	color: white;
	padding: 20px;
}

label{
	margin-bottom: 10px;
}

input[name="honeypot"], label[for="honeypot"]{
	display: none;
}

form{
	margin-top: 60px;
}